<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Some website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        {{> header}}
        
        <p>Portfolio page here</p>  <!--screamIt is the helper funciton defined and welcomeMsg is a parameter -->

        {{> footer}}   <!--This is the syntax to include code in partials -->
    </body>
</html>